@model IEnumerable<EerCare.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>All Members</h1>

<p>
    <a asp-action="Create">Add New Member</a>
</p>

<form asp-action="Index" method="get" class="indexSearch">
    <div class="form-actions no-color indexSearch">
        <p >
            Filter by last name: <input type="text" name="searchString" value="@ViewData["nameFilter"]" />
            Find by SSN: <input type="text" name="ssnSearchString" value="@ViewData["ssnFilter"]" />
            <input type="submit" value="Search" class="btn btn-info" /> |
            <a asp-action="Index">Back To Full Index</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.LastName)</a>
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.SSN)
            </th>
            <th class="text-center">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.DOB)</a>
            </th>
            <th class="text-center">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DODSortParm"]">@Html.DisplayNameFor(model => model.DOD)</a>
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Address1)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MobilePhone)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Since)
            </th>
            <th class="text-center">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.LastName), @Html.DisplayFor(modelItem => item.FirstName)&nbsp;@Html.DisplayFor(modelItem => item.MI)</a>
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DisplaySSN)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DOB)
            </td>

            @if (item.DOD != null)
            {
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DOD)
                </td>
            }
            else
            {
                <td></td>
            }

            @if  (item.Address2 != null)
            { 
                <td>
                    @Html.DisplayFor(modelItem => item.Address1)<br />
                    @Html.DisplayFor(modelItem => item.Address2)<br />
                    @Html.DisplayFor(modelItem => item.City),  @Html.DisplayFor(modelItem => item.State)&nbsp;@Html.DisplayFor(modelItem => item.Zip)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Address1)<br />
                    @Html.DisplayFor(modelItem => item.City),  @Html.DisplayFor(modelItem => item.State)&nbsp;@Html.DisplayFor(modelItem => item.Zip)
                </td>
            }
           
            @if (item.Phone != null)
            {
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
            }
            else
            {
                <td></td>
            }

            @if (item.MobilePhone != null)
            {
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.MobilePhone)
                </td>
            }
            else
            {
                <td></td>
            }

            @if (item.Email != null)
            {
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            }
            else
            {
                <td></td>
            }

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Since)
            </td>

            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><br />
                <a asp-action="Delete" asp-route-id="@item.Id">Archive</a>
            </td>
        </tr>
}
    </tbody>
</table>
