@model IEnumerable<EerCare.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>All Invoices</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.InvoiceId)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Provider)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.SettledDate)
            </th>
            <th class="text-center">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center">
                <a asp-action="Details" asp-route-id="@item.InvoiceId">@Html.DisplayFor(modelItem => item.InvoiceId)</a>
            </td>
            <td class="text-center">
                <a asp-controller="Providers" asp-action="Details" asp-route-id="@item.ProviderId">@Html.DisplayFor(modelItem => item.Provider.ProviderName)</a>
            </td>
            <td class="text-center">
                <a asp-controller="Members" asp-action="Details" asp-route-id="@item.MemberId">@Html.DisplayFor(modelItem => item.Member.FullName)</a>
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.SettledDate)
            </td>

            <td class="text-center">
                @if (item.SettledDate == null)
                {
                    <a asp-action="NewLineItem" asp-route-id="@item.InvoiceId">Add Line Item</a> <text>|</text>
                    <a asp-action="Edit" asp-route-id="@item.InvoiceId">Edit</a> <text>|</text>}
                
                <a asp-action="Delete" asp-route-id="@item.InvoiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
